.main--m7h {
  align-items: flex-end;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 4.3445rem;
  position: relative;
  width: 100%;

  .mainnavigationbar-jij {
    align-items: center;
    background-color: #617861;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 10rem;
    margin: 0rem 0.023rem 1.9rem 0rem;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    width: calc(100% - 0.0228rem);

    .logo-SQB {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 100%;
      margin-right: 74.05rem;

      .logoimage-NYj {
        flex-shrink: 0;
        height: 8rem;
        margin-right: 1.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 8rem;
      }
      .logotext-V7Z {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2125;
        margin-top: 0.1rem;
        text-transform: capitalize;
        white-space: nowrap;
      }
    }
    .nav-links-ZNK {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: calc(100% - 4.1rem);
      margin: 2.1rem 6.35rem 2rem 0rem;

      .notice-H3R {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.2125;
        margin-right: 3.1rem;
        text-transform: capitalize;
        white-space: nowrap;
      }
      .products-QNw {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        margin-right: 3.2rem;
        padding-right: 0.2rem;

        .products-jg7 {
          color: #ffffff;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.2125;
          margin-right: 1rem;
          text-transform: capitalize;
          white-space: nowrap;
        }
        .akar-icons-chevron-down-4TV {
          flex-shrink: 0;
          height: 0.4rem;
          margin-top: 0.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.8rem;
        }
      }
      .review-NUB {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.2125;
        margin-right: 3.2rem;
        text-transform: capitalize;
        white-space: nowrap;
      }
      .qa-6uy {
        color: #ffffff;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.2125;
        text-transform: capitalize;
        white-space: nowrap;
      }
    }
    .mainloginbutton-eAo {
      align-items: center;
      background-color: #ffffff;
      border-radius: 4rem;
      color: #617861;
      display: flex;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 700;
      height: calc(100% - 2.3rem);
      justify-content: center;
      line-height: 1.2125;
      margin: 1.3rem 0rem 1rem 0rem;
      text-transform: capitalize;
      white-space: nowrap;
      width: 14.6rem;
    }
  }
  .mainbody-GT5 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 91.7555rem;
    margin-left: 12.2rem;
    width: calc(100% - 12.2rem);

    .auto-group-mhxr-bET {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: calc(100% - 27.0555rem);
      margin: 16.4rem 4.6rem 10.656rem 0rem;
      width: 61.9rem;

      .only-for-duksung-Vaj {
        color: #617861;
        flex-shrink: 0;
        font-family: Libre Barcode 39 Text, 'Source Sans Pro';
        font-size: 7.4rem;
        font-weight: 400;
        line-height: 1.2125;
        text-transform: capitalize;
        white-space: nowrap;
      }
      .auto-group-eemh-RUP {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding-top: 2.6rem;
        width: 100%;

        .auto-group-twrs-Ags {
          flex-shrink: 0;
          height: 36.4rem;
          margin-bottom: 7.4rem;
          position: relative;
          width: 58.6178rem;

          .mainrectangle-7MD {
            background-color: #617861;
            height: 11.6rem;
            left: 19.5rem;
            position: absolute;
            top: 12.3rem;
            width: 39.1178rem;
          }
          .maintitle-CGB {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 10rem;
            font-weight: 800;
            height: 36.4rem;
            left: 0;
            line-height: 1.2125;
            position: absolute;
            text-transform: capitalize;
            top: 0;
            width: 47.6rem;

            .maintitle-CGB-sub-0 {
            }
            .maintitle-CGB-sub-1 {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 10rem;
              font-weight: 800;
              line-height: 1.2125;
              text-transform: capitalize;
            }
            .maintitle-CGB-sub-2 {
            }
          }
        }
        .mainbuybutton-9DM {
          align-items: center;
          background-color: #617861;
          border-radius: 5rem;
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 700;
          height: 9.3rem;
          justify-content: center;
          line-height: 1.2125;
          margin-left: 0.0327rem;
          text-transform: capitalize;
          white-space: nowrap;
          width: 33.5296rem;
        }
      }
    }
    .mainimage-CSX {
      flex-shrink: 0;
      height: 100%;
      position: relative;
      width: 113.3228rem;

      .navy-YmH {
        height: 85.7608rem;
        left: 27.7417rem;
        object-fit: cover;
        position: absolute;
        top: 0;
        vertical-align: top;
        width: 85.5811rem;
      }
      .black-tKM {
        height: 68.5555rem;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 23.2rem;
        vertical-align: top;
        width: 67.87rem;
      }
    }
  }
}