@font-face {
  font-family: 'Pretendard';
  src: url('C:\Internet_Programming_Project\Internet_Programming_Project\github\Internet_Programming_Project\qna\static\qna\css\pretendard.css'); // 본인 경로에 맞게 수정!
  font-weight: 400;
  font-style: normal;
}