.section-title {
  text-align: center;
  margin-bottom: 80px;
  padding: 0 300px;
  position: relative;
  z-index: 5;
}

.section-title h3 {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
  color: #617861;
  text-transform: capitalize;
}

.section-title h2 {
  color: #617861;
  font-size: 45px;
  margin-bottom: 20px;
  line-height: 42px;
  text-transform: capitalize;
  position: relative;
  font-weight: 700;
}

.section-title h2 a:hover {
    color: #EBF0E9;
  }

.section-title p {
  font-size: 16px;
  line-height: 28px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    padding: 0px 200px;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title {
    padding: 0px 20px;
    margin-bottom: 50px;
  }
  .section-title h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .section-title h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .section-title p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .section-title {
    padding: 0px 10px;
    margin-bottom: 40px;
  }
  .section-title h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  .section-title h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 18px;
  }
  .section-title p {
    font-size: 15px;
  }
}

.section-title.align-right {
  padding: 0;
  padding-left: 600px;
}

.section-title.align-right h2:before {
  display: none;
}

.section-title.align-right h2:after {
  position: absolute;
  right: 0;
  bottom: -1px;
  height: 2px;
  width: 50px;
  background: #617861;
  content: "";
}

.section-title.align-left {
  padding: 0;
  padding-right: 600px;
}

.section-title.align-left h2:before {
  left: 0;
  margin-left: 0;
}