{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
    <!-- 로그인 페이지에 필요한 CSS 파일 링크 -->
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
</head>

<body>

{% block content %}
   <div id="container" class="container">
        <!-- FORM SECTION (폼 섹션) -->
        <div class="row">
            <!-- SIGN UP (가입하기) -->
            <div class="col align-items-center flex-col sign-up">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-up">

                        <!-- 회원가입 폼 -->
                        <form class="input-group" method="post" action="{% url 'signup' %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <i class='bx bxs-user'></i>
                                <input type="text" name="username" placeholder="Username">
                            </div>
                            <div class="input-group">
                                <i class='bx bx-mail-send'></i>
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="input-group">
                                <i class='bx bxs-lock-alt'></i>
                                <input type="password" name="password1" placeholder="Password">
                            </div>
                            <div class="input-group">
                                <i class='bx bxs-lock-alt'></i>
                                <input type="password" name="password2" placeholder="Confirm password">
                            </div>
                            <button type="submit">Sign up</button>
                        </form>

                        <p>
                            <span>
                                Already have an account?
                            </span>
                            <b onclick="toggle()" class="pointer">
                                Sign in here
                            </b>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END SIGN UP (가입하기 종료) -->

            <!-- SIGN IN (로그인) -->
            <div class="col align-items-center flex-col sign-in">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-in">

                        {# 로그인 폼 #}
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}

                            <div class="input-group">
                                <i class='bx bxs-user'></i>
                                {{ form.username }}
                            </div>

                            <div class="input-group">
                                <i class='bx bxs-lock-alt'></i>
                                {{ form.password }}
                            </div>

                            <button type="submit">
                                Sign in
                            </button>
                        </form>

                        <p>
{#                            비밀번호를 잊어버렸을 경우 (추후 개발) #}
{#                            <b>#}
{#                                Forgot password?#}
{#                            </b>#}

                        </p>
                        <p>
                            <span>
                                Don't have an account?
                            </span>
                            <b onclick="toggle()" class="pointer">
                                Sign up here
                            </b>
                        </p>
                    </div>
                </div>
                <div class="form-wrapper">
                </div>
            </div>
            <!-- END SIGN IN (로그인 종료) -->
        </div>
        <!-- END FORM SECTION (폼 섹션 종료) -->

        <!-- CONTENT SECTION (콘텐츠 섹션) -->
        <div class="row content-row">
            <!-- SIGN IN CONTENT (로그인 콘텐츠) -->
            <div class="col align-items-center flex-col">
                <div class="text sign-in">
                    <h2>
                        Welcome
                    </h2>
                </div>
                <div class="img sign-in">
                </div>
            </div>
            <!-- END SIGN IN CONTENT (로그인 콘텐츠 종료) -->

            <!-- SIGN UP CONTENT (가입하기 콘텐츠) -->
            <div class="col align-items-center flex-col">
                <div class="img sign-up">
                </div>
                <div class="text sign-up">
                    <h2>
                        Join with us
                    </h2>
                </div>
            </div>
            <!-- END SIGN UP CONTENT (가입하기 콘텐츠 종료) -->
        </div>
        <!-- END CONTENT SECTION (콘텐츠 섹션 종료) -->
    </div>

    <!-- 로그인 페이지에 필요한 JavaScript 파일 링크 -->
    <script src="{% static 'login/login.js' %}"></script>
{% endblock %}
