<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>QnA Detail</title>
    <link href =".bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
    <link rel="stylesheet" href="./page-1/styles/navs.css"/>
    <link rel="stylesheet" href="./page-1/styles/QnAPost.css"/>
    <link rel="stylesheet" href="./page-1/styles/sectionTitle.css"/>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="./page-1/styles/main.css"/>

</head>
<body>
<div class="navs-SQH">
  <div class="logo-RGD">
    <img class="logoimage-YEM" src="./page-1/assets/logoimage.png"/>
    <p class="logotext-dWh">duksung Jacket</p>
  </div>
  <div class="nav-links-hFf">
    <p class="notice-Nsb">Notice</p>
    <div class="products-usX">
      <p class="products-s3f">Products</p>
      <img class="akar-icons-chevron-down-z8H" src="./page-1/assets/akar-icons-chevron-down.png"/>
    </div>
    <p class="review-7Cu">Review</p>
    <p class="qa-qub">q&amp;a</p>
  </div>
  <div class="loginbutton-nZw">Login</div>
</div>
<div class="section-title">
	<h3 class="wow zoomIn" data-wow-delay=".2s">QnA</h3>
		<h2 class="wow fadeInUp" data-wow-delay=".4s">질문게시판</h2>
</div>
<div class="container">
    <div class="row">
        <div class="row">
                <div class="col-12">

                        <div class="auto-group-htv1-bTy" id="7Jv9dsRUWE4eovbRBUHtV1">
                            <div class="group-234-fs9" id="30:162">
                                <div class="rectangle-2-E9Z" id="30:163"></div>
                            </div>
                            <div class="auto-group-qwjm-91d" id="7Jv9GiN4RfoG74VYhGQWjM">
<!--                                <div class="item&#45;&#45;fkf" id="30:136">제목</div>-->
                                <label for="exampleFormControlInput1" class="form-label" style="./page-1/styles/QnAPost.css">제 목</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="질문을 입력하세요" style="./page-1/styles/QnAPost.css">
<!--                                <div class="rectangle-7-Nf5" id="30:134"></div>-->
                            </div>
                            <div class="auto-group-gryk-gQs" id="7Jv9NDCu9xQKGJt5dBGrYK">
                                <div class="item--1T9" id="30:137">내용</div>
                                <div class="rectangle-8-XgP" id="30:135"></div>
                            </div>
                            <div class="auto-group-aocf-3Pq" id="7Jv9TdDYbnPgq9KndYaoCf">
                                <a class="group-10-MfR" id="30:138" href="./QnApost_list.html" role="button">취 소</a>
                                <a class="group-11-32T" id="30:141" href="./QnApost_list.html" role="button">게 시</a>
                            </div>
                        </div>
                </div>
            </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>