<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>QnA List</title>
    <link href =".bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
    <link rel="stylesheet" href="./page-1/styles/navs.css"/>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" href="./page-1/styles/sectionTitle.css"/>
    <link rel="stylesheet" href="./page-1/styles/main.css"/>
    <link href ="{% static 'QnA/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="./page-1/styles/QnAListCss/bootstrap.min.css" />
    <link rel="stylesheet" href="./page-1/styles/QnAListCss/LineIcons.3.0.css" />
    <link rel="stylesheet" href="./page-1/styles/QnAListCss/animate.css" />
    <link rel="stylesheet" href="./page-1/styles/QnAListCss/tiny-slider.css" />
    <link rel="stylesheet" href="./page-1/styles/QnAListCss/glightbox.min.css" />
    <link rel="stylesheet" href="./page-1/styles/QnAListCss/main.css" />

</head>
<body>
<div class="navs-SQH">
  <div class="logo-RGD">
    <img class="logoimage-YEM" src="./page-1/assets/logoimage.png"/>
    <p class="logotext-dWh">duksung Jacket</p>
  </div>
  <div class="nav-links-hFf">
    <p class="notice-Nsb">Notice</p>
    <div class="products-usX">
      <p class="products-s3f">Products</p>
      <img class="akar-icons-chevron-down-z8H" src="./page-1/assets/akar-icons-chevron-down.png"/>
    </div>
    <p class="review-7Cu">Review</p>
    <p class="qa-qub">q&amp;a</p>
  </div>
  <div class="loginbutton-nZw">Login</div>
</div>
<div class="section-title">
	<h3 class="wow zoomIn" data-wow-delay=".2s">QnA</h3>
		<h2 class="wow fadeInUp" data-wow-delay=".4s">질문게시판</h2>
</div>
{% for q in QnApost_list %}
<section class="section blog-grid-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <!-- Start Single Blog Grid -->
                            <div class="single-blog-grid">
                                <div class="blog-img">
                                    <a href="blog-single.html">
                                        <img src="assets/images/blog/blog-1.png" alt="#">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="meta-info">
                                        <a class="date" href="javascript:void(0)"><i class="lni lni-timer"></i> 10 June
                                            2023
                                        </a>
                                        <a class="author" href="javascript:void(0)"><i class="lni lni-user"></i> Anjelio
                                            Joly
                                        </a>
                                    </div>
                                    <h4>
                                        <a href="blog-single.html">{{q.title}}</a>
                                    </h4>
                                    <p>{{q.content}}</p>
                                    <div class="button">
                                        <a href="blog-single.html" class="btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Blog Grid -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <!-- Start Single Blog -->
                            <div class="single-blog-grid">
                                <div class="blog-img">
                                    <a href="blog-single.html">
                                        <img src="assets/images/blog/blog-2.png" alt="#">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="meta-info">
                                        <a class="date" href="javascript:void(0)"><i class="lni lni-timer"></i> 5 Aug
                                            2023
                                        </a>
                                        <a class="author" href="javascript:void(0)"><i class="lni lni-user"></i> Kumila
                                            ksusi
                                        </a>
                                    </div>
                                    <h4>
                                        <a href="blog-single.html">Design is a Plan or The Construction of an
                                            Object.</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, adipscing elitr, sit gifted sed diam nonumy eirmod
                                        tempor
                                        ividunt dolore.</p>
                                    <div class="button">
                                        <a href="blog-single.html" class="btn">Read Blog</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Blog Grid -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <!-- Start Single Blog Grid -->
                            <div class="single-blog-grid">
                                <div class="blog-img">
                                    <a href="blog-single.html">
                                        <img src="assets/images/blog/blog-3.png" alt="#">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="meta-info">
                                        <a class="date" href="javascript:void(0)"><i class="lni lni-timer"></i> 25 Dec
                                            2023
                                        </a>
                                        <a class="author" href="javascript:void(0)"><i class="lni lni-user"></i> Alex
                                            Jendro
                                        </a>
                                    </div>
                                    <h4>
                                        <a href="blog-single.html">The Data-Driven Approach to Understanding.</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, adipscing elitr, sit gifted sed diam nonumy eirmod
                                        tempor
                                        ividunt dolore.</p>
                                    <div class="button">
                                        <a href="blog-single.html" class="btn">Read Blog</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Blog Grid -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <!-- Start Single Blog Grid -->
                            <div class="single-blog-grid">
                                <div class="blog-img">
                                    <a href="blog-single.html">
                                        <img src="assets/images/blog/blog-1.png" alt="#">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="meta-info">
                                        <a class="date" href="javascript:void(0)"><i class="lni lni-timer"></i> 10 June
                                            2023
                                        </a>
                                        <a class="author" href="javascript:void(0)"><i class="lni lni-user"></i> Anjelio
                                            Joly
                                        </a>
                                    </div>
                                    <h4>
                                        <a href="blog-single.html">Branding Involves Developing a Strategy to
                                            Creating.</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, adipscing elitr, sit gifted sed diam nonumy eirmod
                                        tempor
                                        ividunt dolore.</p>
                                    <div class="button">
                                        <a href="blog-single.html" class="btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Blog Grid -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <!-- Start Single Blog -->
                            <div class="single-blog-grid">
                                <div class="blog-img">
                                    <a href="blog-single.html">
                                        <img src="assets/images/blog/blog-2.png" alt="#">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="meta-info">
                                        <a class="date" href="javascript:void(0)"><i class="lni lni-timer"></i> 5 Aug
                                            2023
                                        </a>
                                        <a class="author" href="javascript:void(0)"><i class="lni lni-user"></i> Kumila
                                            ksusi
                                        </a>
                                    </div>
                                    <h4>
                                        <a href="blog-single.html">Design is a Plan or The Construction of an
                                            Object.</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, adipscing elitr, sit gifted sed diam nonumy eirmod
                                        tempor
                                        ividunt dolore.</p>
                                    <div class="button">
                                        <a href="blog-single.html" class="btn">Read Blog</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Blog Grid -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <!-- Start Single Blog Grid -->
                            <div class="single-blog-grid">
                                <div class="blog-img">
                                    <a href="blog-single.html">
                                        <img src="assets/images/blog/blog-3.png" alt="#">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="meta-info">
                                        <a class="date" href="javascript:void(0)"><i class="lni lni-timer"></i> 25 Dec
                                            2023
                                        </a>
                                        <a class="author" href="javascript:void(0)"><i class="lni lni-user"></i> Alex
                                            Jendro
                                        </a>
                                    </div>
                                    <h4>
                                        <a href="blog-single.html">The Data-Driven Approach to Understanding.</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, adipscing elitr, sit gifted sed diam nonumy eirmod
                                        tempor
                                        ividunt dolore.</p>
                                    <div class="button">
                                        <a href="blog-single.html" class="btn">Read Blog</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Blog Grid -->
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="pagination left">
                        <ul class="pagination-list">
                            <li><a href="javascript:void(0)">Prev</a></li>
                            <li class="active"><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)">Next</a></li>
                        </ul>
                    </div>
                    <!--/ End Pagination -->
                </div>
                <aside class="col-lg-4 col-md-12 col-12">
                    <div class="sidebar">
                        <!-- Start Single Widget -->
                        <div class="widget search-widget">
                            <h5 class="widget-title">Search This Site</h5>
                            <form action="#">
                                <input type="text" placeholder="Search ...">
                                <button type="submit"><i class="lni lni-search-alt"></i></button>
                            </form>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Widget -->
                        <div class="widget popular-feeds">
                            <h5 class="widget-title">Trending News</h5>
                            <div class="popular-feed-loop">
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><a href="blog-single.html">Bringing Great Design
                                                Ideas To Completion</a></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 05th Nov 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><a href="blog-single.html">Live Life Smart And
                                                Focus On The Positive</a></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 24th March 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><a href="blog-single.html">How did we get 1M+
                                                visitors in 30 days without anything!</a></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 30th Jan 2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Widget -->
                        <div class="widget categories-widget">
                            <h5 class="widget-title">Categories</h5>
                            <ul class="custom">
                                <li>
                                    <a href="javascript:void(0)">Creative</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Technology</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Startup</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Branding</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Web Design</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Widget -->
                        <div class="widget popular-tag-widget">
                            <h5 class="widget-title">Popular Tags</h5>
                            <div class="tags">
                                <a href="javascript:void(0)">Creative</a>
                                <a href="javascript:void(0)">Consultation</a>
                                <a href="javascript:void(0)">Case</a>
                                <a href="javascript:void(0)">Design</a>
                                <a href="javascript:void(0)">Ui/Ux</a>
                                <a href="javascript:void(0)">Graphics Design</a>
                                <a href="javascript:void(0)">Popular</a>
                                <a href="javascript:void(0)">Marketing</a>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </aside>
            </div>
        </div>
    </section>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="./page-1/styles/QnAListJs/bootstrap.min.js"></script>
<script src="./page-1/styles/QnAListJs/wow.min.js"></script>
<script src="./page-1/styles/QnAListJs/tiny-slider.js"></script>
<script src="./page-1/styles/QnAListJs/glightbox.min.js"></script>
<script src="./page-1/styles/QnAListJs/count-up.min.js"></script>
<script src="./page-1/styles/QnAListJs/main.js"></script>

</body>
</html>