<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OFDS</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>

<body>
<div class="main--m7h" id="0:5">
<div class="mainnavigationbar-jij" id="0:16">
<div class="logo-SQB" id="0:17">
<img class="logoimage-NYj" src="/api/try-prod-ap-southeast-1-first-cluster/project..." id="0:19"/>
<p class="logotext-V7Z" id="0:18">duksung Jacket</p>
</div>
<div class="nav-links-ZNK" id="0:20">
<p class="notice-H3R" id="0:21">Notice</p>
<div class="products-QNw" id="0:22">
<p class="products-jg7" id="0:23">Products</p>
<img class="akar-icons-chevron-down-4TV" src="/api/try-prod-ap-southeast-1-first-cluster/project..." id="0:24"/>
</div>
<p class="review-NUB" id="0:27">Review</p>
<p class="qa-6uy" id="0:28">q&amp;a</p>
</div>
<div class="mainloginbutton-eAo" id="0:29">Login</div>
</div>
<div class="mainbody-GT5" id="0:6">
<div class="auto-group-mhxr-bET" id="2UjsmzDNRQ1bJVnD1xmHXR">
<p class="only-for-duksung-Vaj" id="0:13">Only For Duksung</p>
<div class="auto-group-eemh-RUP" id="2Ujt9yajLYRowVLLjcEemH">
<div class="auto-group-twrs-Ags" id="2Ujt14fuySbmTKBvxPTwrs">
<div class="mainrectangle-7MD" id="0:10"></div>
<p class="maintitle-CGB" id="0:11">
<span class="maintitle-CGB-sub-0">
학잠 공동구매

<br/>
이제

</span>
<span class="maintitle-CGB-sub-1">
간편하게

<br/>
</span>
<span class="maintitle-CGB-sub-2">참여해보세요!</span>
</p>
</div>
<div class="mainbuybutton-9DM" id="0:14">구매하러 가기</div>
</div>
</div>
<div class="mainimage-CSX" id="0:7">
<img class="navy-YmH" src="/api/try-prod-ap-southeast-1-first-cluster/project..." id="0:8"/>
<img class="black-tKM" src="/api/try-prod-ap-southeast-1-first-cluster/project..." id="0:9"/>
</div>
</div>
</div>
</body>
</html>