<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Navs</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/navs.css"/>
</head>
<body>
<div class="navs-SQH">
  <div class="logo-RGD">
    <img class="logoimage-YEM" src="./assets/logoimage.png"/>
    <p class="logotext-dWh">duksung Jacket</p>
  </div>
  <div class="nav-links-hFf">
    <p class="notice-Nsb">Notice</p>
    <div class="products-usX">
      <p class="products-s3f">Products</p>
      <img class="akar-icons-chevron-down-z8H" src="./assets/akar-icons-chevron-down.png"/>
    </div>
    <p class="review-7Cu">Review</p>
    <p class="qa-qub">q&amp;a</p>
  </div>
  <div class="loginbutton-nZw">Login</div>
</div>
</body>