<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Products</title>

    <!-- ========================= CSS  ========================= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.3.0.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body>
    <!-- Start Product Area -->
    <section class="trending-product section" style="margin-top: 12px;">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-title">
                        <p>products</p>
                        <h2>덕성여대 학잠</h2>
                    </div>
                </div>

                <!-- 필터 -->
                <form method="get" action="{% url 'productspost_list' %}">
                <!-- category button -->
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        {% for category in category %}
                            <input type="checkbox" class="btn-check category-checkbox" id="btncheck{{ category.id }}" name="categories" value="{{ category.id }}" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btncheck{{ category.id }}">{{ category.name }}</label>
                        {% endfor %}
                    </div>
                    <button type="submit">Filter</button>

                <!-- color button -->
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    {% for color in color %}
                        <input type="radio" class="btn-check color-radio" name="color" id="btnradio{{ color.id }}" value="{{ color.id }}" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio{{ color.id }}">{{ color.name }}</label>
                    {% endfor %}
                </div>
                </form>

                <div class="row">
                    {% for p in productspost_list %}
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Start Single Product -->
                        <div class="single-product">
                            <div class="product-image">
                                <img src="{{ p.image.url }}" width=400 height=300 alt="#">
                                <div class="button">
                                    <a href="" class="btn"><i class="lni lni-cart"></i>구매하기</a>
                            </div>
                        </div>

                        <div class="product-info">
                            {% if p.category.all %}
                                <i class="fa fa-tags"></i>
                                <a href="{{ p.category_tag.get_absolute_url }}"><span class="badge bg-secondary">{{ p.category.all|join:", " }}</span></a>
                            {% endif %}
                            {% if p.color %}
                                <i class="fa fa-tags"></i>
                                <a href="{{ p.color_tag.get_absolute_url }}"><span class="badge bg-secondary">{{ p.color.name }}</span></a>
                            {% endif %}

                            <h4 class="title">
                                <a href="추후작성">{{ p.name }}</a>
                            </h4>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.0 Review(s)</span></li>
                            </ul>

                            <div class="price">
                                <span>{{ p.price }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                {% endfor %}
            </div>
        </section>
    <!-- End Product Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS ========================= -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>