<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Products</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.3.0.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body>
    <!-- Start Product Area -->
    <section class="trending-product section" style="margin-top: 12px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <p>products</p>
                        <h2>덕성여대 학잠</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for p in productspost_list %}
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="{{ p.image.url }}" width=400 height=300 alt="#">
                            <div class="button">
                                <a href="" class="btn"><i class="lni lni-cart"></i>구매하기</a>
                            </div>
                        </div>

                        <div class="product-info">
                            <!-- category -->
                            <!-- <span class="category"></span> -->

                            <!-- Tag -->
                            {% if p.tags.exists %}
                                <i class="fa fa-tags" style="color: #617861"></i>
                                {% for tags in p.tags.iterator %}
                                    <a href = "{{ tags.get_absolute_url }}"><span class="badge bg-secondary">{{ tags }}</span></a>
                                {% endfor %}
                                <br/>
                            {% endif %}

                            <h4 class="title">
                                <a href="추후작성">{{ p.name }}</a>
                            </h4>

                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.0 Review(s)</span></li>
                            </ul>

                            <div class="price">
                                <span>{{ p.price }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Product Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script type="{% static 'text/javascript' %}">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });
    </script>
</body>

</html>