<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Products</title>

    <script src="https://kit.fontawesome.com/e7c49d65e4.js" crossorigin="anonymous"></script>
    <!-- ========================= CSS  ========================= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.3.0.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/section.css' %}" />
</head>

<body>
    <!-- Start Product Area -->
    <section class="trending-product section" style="margin-top: 12px;">
        <div class="container">

            <div class="row" style="margin-bottom: 100px;">
                <div class="col-12">
                    <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s">Products</h3>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s"><a href="/products/">덕성여대 학잠</a></h2>
                    </div>
                </div>
            </div>

            <!-- 카테고리 -->
            <div class="row text-center" style="margin-bottom: 20px;">
                <!-- 타입 카테고리 버튼-->
                <div class="col-md-6">
                    <i class="fa-solid fa-tag fa-2xl" style="color: #617861;"></i>
                    <div class="btn-group btn-gap" role="group" aria-label="Basic radio toggle button group">
                        {% for t in types %}
                            <div>
                                <input type="radio" class="btn-check" id="btncheck{{ t.id }}" autocomplete="off">
                                <label class="btn btn-outline-dark" for="btncheck{{ t.id }}" style="border-color: #617861;">
                                    <a href="{{ t.get_absolute_url }}">{{ t }}</a>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- 컬러 카테고리 버튼-->
                <div class="col-md-6">
                    <i class="fa-solid fa-palette fa-2xl" style="color: #617861;"></i>
                    <div class="btn-group btn-gap" role="group" aria-label="Basic radio toggle button group">
                        {% for c in colors %}
                            <div>
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio{{ c.id }}" autocomplete="off">
                                <label class="btn btn-outline-dark" for="btnradio{{ c.id }}" style="border-color: #617861;">
                                    <a href="{{ c.get_absolute_url }}">{{ c }}</a>
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px;">
                <label class="btn btn-outline-dark" style="border-color: #617861;">
                    <a href="/products/">ALL</a>
                </label>
            </div>

            <!-- Start Single Product -->
            <div class="row">
                {% for p in object_list %}
                    <div class="col-lg-3 col-md-6 col-12">

                        <!-- 이미지, 구매 버튼 -->
                        <div class="single-product">
                            <div class="product-image">
                                <img src="{{ p.image.url }}" width=400 height=300 alt="#">
                                <div class="button">
                                    <a href="{{ p.get_absolute_url }}" class="btn">구매하기</a>
                                </div>
                            </div>

                            <div class="product-info">
                                <!-- 태그 배지 -->
                                {% if p.type.all %}
                                    <span class="badge bg-dark">{{ p.type.all|join:", " }}</span>
                                {% endif %}
                                {% if p.color %}
                                    <span class="badge bg-dark">{{ p.color }}</span>
                                {% endif %}

                            <!-- 제품명 -->
                                <h4 class="title">
                                    <a href="추후작성"><i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>{{ p.name }}</a>
                                </h4>

                            <!-- 제품가격 -->
                                <div class="price">
                                    <span>{{ p.price }}<i class="fa-solid fa-won-sign fa-sm" style="color: #000000;"></i></span>
                                </div>

                            </div>
                         </div>
                    </div>
                 {% endfor %}
            </div>
            <!-- End Single Product -->

        </div>
</section>

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="fa-solid fa-up-long fa-beat" style="color: #ffffff;"></i>
    </a>

    <!-- ========================= JS ========================= -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/tiny-slider.js' %}"></script>
    <script src="{% static 'assets/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
